*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --main-theme-color: #0773b6;
    --background-color: #eff1f5; 
    --box-shadow: 0 0 15px #e6e6e6;
    --description-text: 12px;
    --light-border: 1px solid #ccc;
    --sub-text-color: rgba(0, 0, 0, 0.6);
    --sub-text-font: 0.875rem;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-color: var(--background-color);
    font-family: "Poppins", sans-serif;
    overflow-y: auto;
    padding-bottom: 40px;
}

header{
    display: flex;
    justify-content: center;
    box-shadow: 0 0 4px rgba(108, 108, 108, 0.265);
    border-bottom: 1px solid rgba(108, 108, 108, 0.265);
}
nav{
    display: flex;
    width: 80%;
    justify-content: space-between;
    font-size: 13px;
    padding: 14px 0;
}
nav i{
    margin-right: 6px;
}

a{
    text-decoration: none;
    color: black;
}

.logout{
    padding: 4px 20px;
    text-decoration: none;
    color: red;
    background-color: #FFA6A6;
    border-radius: 4px;
}
main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.edit-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-nav{
    display: flex;
    gap: 8px;
    padding: 10px 0;
}
.edit-nav a{
    padding: 5px 10px;
    font-size: 13px;
    border-radius: 4px;
}
.edit-nav a:hover{
    color: blue;
}

.active{
    background-color: #d9ebfe;
    color: blue;
}

.editProfile{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 70%;
}

.edit-profile-container{
    border: var(--light-border);
    padding: 20px;
    box-shadow: var(--box-shadow);
}

.editProfile img{
    height: 100px;
    width: 100px;
    border-radius: 100%;
}

.edit-profile-img {
    display: flex;
    align-items: center;
    gap: 20px;
}

.edit-profile-img button{
    padding:10px 18px;
    border: none;
    font-size: 15px;
    border-radius: 6px;
    background-color: #e6e6e6;
    margin-right: 10px;
    font-weight: bold;
}

.edit-profile-img p{
    color: black;
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
}

#upload-img-btn{
    color: white;
    background-color: var(--main-theme-color);
}

label{
    font-size: 14px;
    font-weight: 600;
    margin: 10px 0;
    display: block;
}

input{
    border: none;
    height: 100%;
    width: 100%;
    background: transparent;
    padding: 0 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    outline: none;
}

.input-field{
    height: 50px;
    position: relative;
    margin-top: 10px;
}

.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 18px;
    z-index: 100;
    color: black;
}

textarea{
    height: auto;
    min-height: 150px;
    width: 100%;
    resize: none;
    font-size: 14px;
    background: transparent;
    padding: 10px;
}

.edit-profile-bio p{
    font-size: 12px;
}

#saveChange{
    padding: 10px 20px;
    background-color: var(--main-theme-color);
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

.success-text{
    padding: 4px 10px;
    background-color: #CAE8BD;
    color: green;
    font-size: 12px;
    display: inline-flex;
    margin-top: 6px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 4px;
}
.fail-text{
    padding: 4px 10px;
    background-color: #FFA6A6;
    color: red;
    font-size: 12px;
    display: inline-flex;
    margin-top: 6px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 4px;
}

.change-password-container-wrapper{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 70%;
}

.change-password-container{
    display: flex;
    border: 1px solid #ccc;
    box-shadow: var(--box-shadow);
}

.security-img{
    height: 600px;
    width: 330px;
}

.security-img img{
    height: 100%;
    width: 100%;
}

.change-password-field{
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.password-input{
    height: 40px;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}

.password-input input{
    padding: 0 10px;
}

.change-password-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    cursor: pointer;
    z-index: 10;
    color: #666;
}

.change-password-field p{
    font-size: var(--sub-text-font);
    color: var(--sub-text-color);
}