* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-theme-color: #0773b6;
  --background-color: #eff1f5;
  --box-shadow: 0 0 15px #e6e6e6;
  --description-text: 12px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: var(--background-color);
  font-family: "Poppins", sans-serif;
  overflow-y: auto;
}

.profile-user-container {
  height: 100%;
  width: 90%;
  border-radius: 10px;
  border: 1px solid #b9b9b9;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto;
}

.profile-user-container p {
  font-size: 14px;
  color: #8a8c8d;
}

.profile-user-pictures {
  height: auto;
  width: 100%;
}

.profile-user-bg-img {
  height: 150px;
  width: 100%;
  position: relative;
}

.profile-user-bg-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.profile-user-profile-img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  overflow: hidden;
  background-color: white;
  padding: 4px;
  position: absolute;
  transform: translateY(-70%);
  left: 30px;
}

.profile-user-profile-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 100%;
}

.profile-user-info {
  display: flex;
  padding: 35px;
  justify-content: space-between;
}

.edit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 125px;
  border: 1px solid #b9b9b9;
  text-decoration: none;
  color: grey;
  font-size: 12px;
  gap: 8px;
  transition: 0.1s ease-in;
}

.edit-btn:hover {
  background-color: #0773b6;
  color: white;
}

.delete-btn:hover {
  background-color: red;
  color: white;
}
.log-out-btn:hover {
  background-color: red;
  color: white;
}

.profile-detail-container-wrapper {
  padding: 8px 35px;
}

.profile-detail-header {
  display: flex;
  justify-content: space-between;
}

.profile-detail-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 26px;
  margin-top: 20px;
}

.profile-detail-container .profile-detail {
  display: flex;
  align-items: center;
  gap: 18px;
  padding: 8px 0;
}

.profile-detail i {
  font-size: 26px;
  color: #8a8c8d;
}

.post-container {
  max-width: 800px;
  margin: 0 auto;
}

#post-list-header {
  border-bottom: 1px solid #b9b9b9;
  padding: 15px 35px;
  margin: 0 10px;
}

.delete-pop-up {
  opacity: 0;
  position: fixed;
  inset: 0;
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.delete-pop-up.show {
  opacity: 1;
  pointer-events: auto;
}

.delete-confirmation-container {
  height: 550px;
  width: 500px;
  border: 1px solid #b9b9b9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--background-color);
}

.delete-confirmation-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.delete-confirmation-container .delete-logo {
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  border-radius: 100%;
  border: 4px solid red;
}

.delete-confirmation-container form span button {
  height: 40px;
  width: 200px;
  border: 1px solid #b9b9b9;
  background: transparent;
  border-radius: 4px;
}

#deleteConfirmBtn {
  background-color: red;
  color: white;
}

@media (max-width: 925px) {
  main {
    width: 100%;
    padding: 0 10px;
  }
  .profile-user-container {
    width: 100%;
  }
  .profile-detail-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media (max-width: 525px){
    .profile-detail-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
