*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --main-theme-color: #0773b6;
    --background-color: #eff1f5; 
    --box-shadow: 0 0 15px #e6e6e6;
    --description-text: 12px;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: var(--background-color);
    font-family: "Poppins", sans-serif;
}
.profile-user-container{
    height: 100%;
    width: 90%;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #b9b9b9;
}

.profile-user-pictures{
    height: auto;
    width: 100%;
}

.profile-user-bg-img{
    height: 150px;
    width: 100%;
    position: relative;
}

.profile-user-bg-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.profile-user-profile-img{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    overflow: hidden;
    background-color: white;
    padding: 4px;
    position: absolute;
    transform: translateY(-70%);
    left: 30px;
}

.profile-user-profile-img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 100%;
}

.profile-user-info{
    display: flex;
    padding: 35px;
    justify-content: space-between;
    border: 2px solid black;
}

.profile-user-info a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 125px;
    border: 1px solid #b9b9b9;
    text-decoration: none;
    color: grey;
    font-size: 14px;
}

.profile-user-name{
    font-size: 32px;
    font-weight: bolder;
}